.cornell-governance-metabox {
  border: 1px solid #e2e2e2;
  position: relative;

  label,
  p.static-label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;

    &:has(input) {
      font-weight: normal;
    }
  }

  fieldset {
    border: 1px solid #e2e2e2;
    border-top: none;
    border-right: none;
    margin-left: -1px;

    legend {
      font-weight: bolder;
      padding: 1rem 1rem .5rem;
    }
  }

  .field-note {
    font-style: italic;
    font-size: .9em;

    &.timestamp-container {
      text-align: right;

      label {
        font-weight: normal;
      }
    }
  }

  .cornell-governance-grid {
    display: grid;
    grid-template-columns: repeat( 2, minmax(0, 1fr) );

    &.one-two {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &.two-one {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
  }

  .cornell-governance-field {
    border: none;
    border-top: 1px solid #e2e2e2;
    display: block;
    padding: 1rem;
    margin: -1px 0 0;

    input {
      width: 100%;

      &[type="radio"],
      &[type="checkbox"] {
        width: auto;
        display: inline-block;
      }
    }

    &.cornell-governance-textarea {
      .text-label,
      .input-value {
        display: block;
        margin: 0 0 .5rem;
      }

      textarea {
        display: block;
        width: 100%;
        height: 8rem;
      }

      &.cornell-governance-commit-message textarea {
        height: 2rem;
      }
    }

    &.cornell-governance-confirm {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        display: block;
        margin: 0 0 0 1rem;
      }

      input {
        display: block;
        width: auto;
      }
    }

    &.cornell-governance-button {
      button {
        display: block;
        margin: 0 auto;
      }
    }

    &.cornell-governance-request-changes {
      text-align: center;
      margin-top: 1rem;

      /*p {
        font-size: 1.5em;
      }*/
    }
  }

  .cornell-governance-save-box {
    margin: .5rem;
    border: 2px solid var(--cornell-red);

    .cornell-governance-field {
      border-top: none;
    }
  }

  :is(.cornell-governance-page-info-tasks, .cornell-governance-page-info-tasks-readonly) label:has(input[type="checkbox"]) {
    &.done {
      text-decoration: line-through;
    }
  }

  .compliance-status-fieldset {
    padding: 1rem;
    border: 1px solid;

    .cornell-governance-grid {
      grid-template-columns: minmax(0, max-content) minmax(0, 2fr);
      justify-items: stretch;
      align-items: start;
    }

    @import "modules/calendar-icon";

    .calendar-icon {
      margin: 2rem;
    }
  }

  .progress-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);

    @import "modules/loader";
  }

  .cornell-governance-message-title {
    font-weight: 600;
  }

  .cornell-governance-mark-for-deletion-instructions + .cornell-governance-mark-for-deletion,
  .cornell-governance-completed-review-instructions + .cornell-governance-completed-review {
    border-top: none;
  }

  .cornell-governance-mark-for-deletion-instructions .cornell-governance-message-title {
    font-weight: bolder;
  }

  .cornell-governance-save-info-instructions {
    color: #8b0000;
  }

  .components-button {
    align-items: center;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--wp-components-color-foreground, #1e1e1e);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    transition: box-shadow .1s linear;

    &.is-primary {
      background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
      color: var(--wp-components-color-accent-inverted, #fff);
      outline: 1px solid #0000;
      text-decoration: none;
      text-shadow: none;
      white-space: nowrap;
    }
  }

  @import "modules/tabs";
}
