.mce-content-body {
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  ul, ol {
    margin-left: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}
